* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 10vh;
    background-color: lightcoral;
}


#ptext {
    
    font-size: 100px;
    font-family: Roboto, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    margin-top: 100px;
    margin-left: 400px;
    border: 12px solid lightslategray;
    width: 380px;
    height: 390px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1.6fr; 
    grid-auto-rows: minmax(1fr, auto);
    column-gap: 8px;
    row-gap: 8px;
    /*grid template helped isolate the single result div*/
    grid-template-areas: "header header header header";
    background-color: cyan;
    border-radius: 8px;

}

#result {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    grid-column: 1 / -1;
    background-color: #b2b9c7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 2px;
    font-size: 2em;
    font-weight: initial;
    margin: 5px;
    border-radius: 5px;
}


.btns {
    border: 4px solid sandybrown;
    color: blue;
    background-color: bisque;
    border-radius: 20px;

}

.symb {
    border: 5px solid lightsalmon;
    color: blue;
    background-color: bisque;
    border-radius: 20px;
}

.symb:active {
    border: 5px solid lightsalmon;
    color: blue;
    background-color: bisque;
    border-radius: 100px;
}

.num {
    border-color: goldenrod !important;
    color: gold;
    background-color: purple;
    border: 3px solid;
    border-radius: 10px;
}

.num:active  {
    color: purple; 
    background-color: purple;
    border: 1px solid green;
    border-radius: 100%;

}

.op {
    background-color: lightseagreen;
    color: white;
    border-color: gold ;
    border-radius: 40px;

}

.op:active {
    background-color: lightskyblue;
    color: white;
    border-color: gold ;
    border-radius: 10px;

}